<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %> 

  <h3> Jim Carrey's Bio - </h3>
  <p> Name: <%= name %> </p>
  <p> Date of birth: <%= dob %> </p>
  <p> Birthplace: <%= bp %> </p>
  <p> Gender: <%= gender %> </p>
  <p> Height: <%= height %> </p>


<%- include('./partials/footer.ejs') %>

</body>
</html>